In [ ]:
#Getting started with fundamentals

In [ ]:
# understanding the variables in python:

In [24]:
X = 5
Y = 3
print(X + Y)

8

In [ ]:
Rules for declaring the variables: 3 rules

In [ ]:
Rule no 1: No name spaces while declaring the variable name

In [ ]:
eg:

In [25]:
First Name = 'Naveen'
print(First Name)

SyntaxError: invalid syntax (<ipython-input-25-4ddd525e62e7>, line 1)

In [14]:
firstname = 'naveen'

In [15]:
print(firstname)

naveen

In [26]:
First_name = 'Naveen'
print(First_name)

Naveen

In [ ]:
Rule no 2: variable name should not start with a number

In [ ]:
eg:

In [27]:
1name = 'Naveen'
print(1name)

SyntaxError: invalid syntax (<ipython-input-27-d5a2eb6e4022>, line 1)

In [22]:
Name1 = 'Naveen'
print(Name1)

Naveen

In [ ]:
Rule no 3: variable name should not contain any sort of special characters such as @$&

In [ ]:
eg:

In [28]:
Name@ = 'Naveen'
print(Name@)

SyntaxError: invalid syntax (<ipython-input-28-2f6412a45cae>, line 1)

In [ ]:
# introduction to datatype in python:

In [ ]:
1.string
2.Number----> Integers and decimals
3.List
4.tuples
5.Dictionaries

In [ ]:
#Classification to datatype in python:

In [ ]:
Datatypes in python are classified into 2 different categories:

In [ ]:
1. Mutable datatype      2.Immutable datatypes.

In [ ]:
Mutable datatypes: where we able to edit or alter the data that has been assigned
    
Immutable datatypes: where we will not able to edit or alter the datatypes that has been assigned

In [ ]:
----->Interview : what is the diff btw Mutable and Immutable datatypes

In [ ]:
Introduction to string datatype:

In [ ]:
definition : a string is nothing but a series of characters enclosed in quotes.

In [ ]:
Classification : A string is classified as an immutable datatype

In [ ]:
How do you define a string..?
3 possible ways:
    single quote,Double quote,triple quote

In [29]:
Name = 'sunny'
print(Name)

sunny

In [30]:
Name2 = "sunny"
print(Name)

sunny

In [31]:
Name3 = """sunny"""
print(Name3)

sunny

In [ ]:
Note : python is a case sensitive language